@use "../variables.scss" as *;

.notification {
  border-radius: $radius;
  background-color: $bg;
  margin: 10px;
  border: 2px solid $accent;
  min-width: 500px;

  &.low {
    --color: $muted;
    border: 2px solid $muted;
    .notification__image,
    .notification__action,
    .notification__header {
      border-color: $muted;
    }
  }

  &.critical {
    border: 2px solid $error;
    .notification__image,
    .notification__action,
    .notification__header {
      border-color: $error;
    }
  }

  .app-name {
    font-weight: bold;
  }

  .content {
    .body {
      color: $fg-alt;
    }
  }
}

.notification__menu {
  border-radius: $radius;
  background-color: $bg;
  margin: 10px;
  padding: 5px 5px 5px 15px;
  border: 2px solid $accent;
}

.notification__menu__count {
  font-weight: bold;
}

.notification__image {
  border-right: 2px solid $accent;
}

.notification__content {
  padding: 15px;
}

.notification__header {
  padding: 15px;
  border-bottom: 2px solid $accent;
}

.notification__action {
  padding: 15px;
  border-top: 2px solid $accent;
  border-left: 1px solid $accent;
  border-right: 1px solid $accent;
}

.notification__action:first-child {
  border-left: 0;
  border-bottom-left-radius: $radius;
}
.notification__action:last-child {
  border-right: 0;
}

.notification__action:hover {
  background-color: $bg-alt;
}
