@use "../variables.scss" as *;

.notification {
  border-radius: $radius;
  background-color: $bg;
  margin: 10px;
  border: 2px solid $accent;
  min-width: 500px;

  &.low {
    border: 2px solid $muted;
    .app-name {
      color: $muted;
    }
  }

  &.critical {
    border: 2px solid $error;
    .app-name {
      color: $error;
    }
  }

  .app-name {
    font-weight: bold;
  }

  .content {
    .body {
      color: $fg-alt;
    }
  }
}

.notification__menu {
  border-radius: $radius;
  background-color: $bg;
  margin: 10px;
  padding: 5px 5px 5px 15px;
  border: 2px solid $accent;
}

.notification__menu__count {
  font-weight: bold;
}

.notification__image {
  border-radius: $radius;
}

.notification__content {
  padding: 15px;
}
