$bg: #1c1b1a;
$bg-alt: #282726;
$fg: #dad8ce;
$fg-alt: #b7b5ac;
$ui: #343331;
$ui-alt: #403e3c;
$black: #100f0f;
$accent: #cf6a4c;
$muted: #878580;
$error: #d14d41;

$radius: 8px;
$transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

$font-large: 14px;
$icon-size: 12px;
$font: "Hack Nerd Font", monospace;
